In [104]:
import pandas as pd
import numpy as np

In [105]:
df = pd.read_csv("../../Data/climate-prod_merged.csv")

In [106]:
df.head()

,Year,Production,AG.YLD.CREL.KG,EN.ATM.CO2E.KD.GD,EN.ATM.CO2E.PP.GD.KD,EN.ATM.METH.KT.CE,EN.ATM.NOXE.KT.CE
0,2011,1.721402e+06,0.194827,1.597341,1.597341,-1.589776,-0.545064
1,2012,1.656891e+06,-1.050150,1.695985,1.695985,-1.327511,-1.479459
2,2013,1.928606e+06,0.640295,1.049797,1.049797,-0.773843,0.155733
3,2014,1.950982e+06,-0.138597,-0.664916,-0.664916,-0.220174,-0.056630
4,2015,1.924430e+06,1.290898,-0.803090,-0.803090,-0.016189,0.835293

In [107]:
# Convert the numbers in the 'Production' column to normal writing
df['Production'] = df['Production'].apply(lambda x: f"{x:.0f}")

In [108]:
df

,Year,Production,AG.YLD.CREL.KG,EN.ATM.CO2E.KD.GD,EN.ATM.CO2E.PP.GD.KD,EN.ATM.METH.KT.CE,EN.ATM.NOXE.KT.CE
0,2011,1721402,0.194827,1.597341,1.597341e+00,-1.589776e+00,-5.450639e-01
1,2012,1656891,-1.050150,1.695985,1.695985e+00,-1.327511e+00,-1.479459e+00
2,2013,1928606,0.640295,1.049797,1.049797e+00,-7.738427e-01,1.557326e-01
3,2014,1950982,-0.138597,-0.664916,-6.649159e-01,-2.201743e-01,-5.663002e-02
4,2015,1924430,1.290898,-0.803090,-8.030896e-01,-1.618892e-02,8.352928e-01
5,2016,1743616,-1.218007,-0.870150,-8.701504e-01,3.334968e-01,-1.840476e+00
6,2017,1924872,0.493055,-0.846646,-8.466455e-01,6.249029e-01,1.090128e+00
7,2018,1869149,1.546850,-0.924252,-9.242516e-01,1.207712e+00,1.429908e+00
8,2019,1956711,-0.139013,-0.234069,-2.340690e-01,1.761381e+00,4.105676e-01
9,2020,1707068,-1.620157,0.000000,-2.499255e-15,5.300627e-15,-3.862853e-15

In [111]:
#X = df.iloc[:, 2:]#.values
#y = df.iloc[:, 1].values

In [58]:
#from sklearn.model_selection import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [124]:
X_train = df.iloc[:7, 2:]#.values
y_train = df.iloc[:7, 1].values
y_train = y_train.astype(float)

X_test = df.iloc[7:, 2:]#.values
y_test = df.iloc[7:, 1].values
y_test = y_test.astype(float)

In [166]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [289]:
#from sklearn.model_selection import GridSearchCV
#grid_search = GridSearchCV(RandomForestRegressor(), param_grid={'n_estimators': [10, 100, 150]}, cv=5, scoring='neg_mean_squared_error')
#grid_search.fit(x_train, y_train)
#print("Best parameters:", grid_search.best_params_)
#print("MSE:", -grid_search.best_score_)

In [170]:
model = RandomForestRegressor(n_estimators=50) #n_estimators=10

In [171]:
model.fit(X_train, y_train)

RandomForestRegressor(n_estimators=50)

In [172]:
y_pred = model.predict(X_test)

In [181]:
# Evaluate R2 score
#model.score(X_test, y_test)
# Evaluate the model using Mean Squared Error (MSE)
#mse = mean_squared_error(y_test, y_pred)
#print("Mean Squared Error (MSE): ", mse)

In [178]:
import numpy as np

# Create a new dataframe with the features of the new data point
# Year = 2023
new_data = pd.DataFrame({
    'AG.YLD.CREL.KG': [742.9], # Cereal yield (kg per hectare)
    'EN.ATM.CO2E.KD.GD': [0.590803], # CO2 emissions (kg per 2015 US$ of GDP)
    'EN.ATM.CO2E.PP.GD.KD': [0.241253], # CO2 emissions (kg per PPP $ of GDP)
    'EN.ATM.METH.KT.CE': [11555.555662], # Methane emissions (kt of CO2 equivalent)
    'EN.ATM.NOXE.KT.CE': [8696.666667] # Nitrous oxide emissions (thousand metric tons of CO2 equivalent)
})
new_data

,AG.YLD.CREL.KG,EN.ATM.CO2E.KD.GD,EN.ATM.CO2E.PP.GD.KD,EN.ATM.METH.KT.CE,EN.ATM.NOXE.KT.CE
0,742.9,0.590803,0.241253,11555.555662,8696.666667

In [179]:
# Make predictions using the trained model
y_pred = model.predict(new_data)

# Print the predicted value
print("Predicted production of Potatoes in (tonnes) : ",np.round(y_pred[0], 3))

Predicted production of Potatoes in (tonnes) :  1928351.72