In [282]:
import pandas as pd

In [283]:
df = pd.read_csv("../../Data/climate-prod_merged.csv")

In [284]:
df

,Year,Filière,Produit,Production,AG.YLD.CREL.KG,EN.ATM.CO2E.KD.GD,EN.ATM.CO2E.PP.GD.KD,EN.ATM.METH.KT.CE,EN.ATM.NOXE.KT.CE
0,2011,Maraîchage,Pomme de terre,1.721402e+06,1614.4,0.677687,0.276731,11010.000229,8440.000000
1,2012,Maraîchage,Pomme de terre,1.656891e+06,1016.6,0.683052,0.278922,11100.000381,8000.000000
2,2013,Maraîchage,Pomme de terre,1.928606e+06,1828.3,0.647904,0.264570,11289.999962,8770.000000
3,2014,Maraîchage,Pomme de terre,1.950982e+06,1454.3,0.554636,0.226484,11479.999542,8670.000000
4,2015,Maraîchage,Pomme de terre,1.924430e+06,2140.7,0.547121,0.223415,11550.000191,9090.000000
5,2016,Maraîchage,Pomme de terre,1.743616e+06,936.0,0.543473,0.221926,11670.000076,7830.000000
6,2017,Maraîchage,Pomme de terre,1.924872e+06,1757.6,0.544752,0.222448,11770.000458,9210.000000
7,2018,Maraîchage,Pomme de terre,1.869149e+06,2263.6,0.540531,0.220724,11970.000267,9370.000000
8,2019,Maraîchage,Pomme de terre,1.956711e+06,1454.1,0.578071,0.236054,12159.999847,8890.000000
9,2020,Maraîchage,Pomme de terre,1.707068e+06,742.9,0.590803,0.241253,11555.555662,8696.666667

In [285]:
from sklearn.preprocessing import StandardScaler
# Standardize the selected columns
scaler = StandardScaler()

# get columns to standardize
cols_to_scale = [col for col in df.columns if col not in ['Year', 'Filière', 'Produit','Production']]

df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])
df

,Year,Filière,Produit,Production,AG.YLD.CREL.KG,EN.ATM.CO2E.KD.GD,EN.ATM.CO2E.PP.GD.KD,EN.ATM.METH.KT.CE,EN.ATM.NOXE.KT.CE
0,2011,Maraîchage,Pomme de terre,1.721402e+06,0.194827,1.597341,1.597341e+00,-1.589776e+00,-5.450639e-01
1,2012,Maraîchage,Pomme de terre,1.656891e+06,-1.050150,1.695985,1.695985e+00,-1.327511e+00,-1.479459e+00
2,2013,Maraîchage,Pomme de terre,1.928606e+06,0.640295,1.049797,1.049797e+00,-7.738427e-01,1.557326e-01
3,2014,Maraîchage,Pomme de terre,1.950982e+06,-0.138597,-0.664916,-6.649159e-01,-2.201743e-01,-5.663002e-02
4,2015,Maraîchage,Pomme de terre,1.924430e+06,1.290898,-0.803090,-8.030896e-01,-1.618892e-02,8.352928e-01
5,2016,Maraîchage,Pomme de terre,1.743616e+06,-1.218007,-0.870150,-8.701504e-01,3.334968e-01,-1.840476e+00
6,2017,Maraîchage,Pomme de terre,1.924872e+06,0.493055,-0.846646,-8.466455e-01,6.249029e-01,1.090128e+00
7,2018,Maraîchage,Pomme de terre,1.869149e+06,1.546850,-0.924252,-9.242516e-01,1.207712e+00,1.429908e+00
8,2019,Maraîchage,Pomme de terre,1.956711e+06,-0.139013,-0.234069,-2.340690e-01,1.761381e+00,4.105676e-01
9,2020,Maraîchage,Pomme de terre,1.707068e+06,-1.620157,0.000000,-2.499255e-15,5.300627e-15,-3.862853e-15

In [286]:
X = df.iloc[:, 4:]#.values
y = df.iloc[:, 3].values

In [287]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [288]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [289]:
#grid_search = GridSearchCV(RandomForestRegressor(), param_grid={'n_estimators': [10, 100, 150]}, cv=5, scoring='neg_mean_squared_error')
#grid_search.fit(x_train, y_train)
#print("Best parameters:", grid_search.best_params_)
#print("MSE:", -grid_search.best_score_)

In [300]:
model = RandomForestRegressor(n_estimators=10) #n_estimators=10

In [301]:
model.fit(x_train, y_train)
#model.fit(X, y)

RandomForestRegressor()

In [302]:
y_pred = model.predict(x_test)

In [303]:
mse = mean_squared_error(y_test, y_pred)
print("MSE:", mse)

MSE: 11174085242.924809

In [304]:
import numpy as np

# Create a new dataframe with the features of the new data point
# Year = 2023
new_data = pd.DataFrame({
    'AG.YLD.CREL.KG': [742.9],
    'EN.ATM.CO2E.KD.GD': [0.590803],
    'EN.ATM.CO2E.PP.GD.KD': [0.241253],
    'EN.ATM.METH.KT.CE': [11555.555662],
    'EN.ATM.NOXE.KT.CE': [8696.666667]
})
new_data

,AG.YLD.CREL.KG,EN.ATM.CO2E.KD.GD,EN.ATM.CO2E.PP.GD.KD,EN.ATM.METH.KT.CE,EN.ATM.NOXE.KT.CE
0,742.9,0.590803,0.241253,11555.555662,8696.666667

In [311]:
# feature scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
new_data_scale = scaler.fit_transform(new_data)

# Make predictions using the trained model
y_pred = model.predict(new_data)

# Print the predicted value
print("Predicted production of",df['Produit'][0], "in (tonnes) : ",np.round(y_pred[0], 3))

Predicted production of Pomme de terre in (tonnes):  1857440.441